# Cache and logs (Symfony2)
/cache/*
/logs/*

# Parameters
/config/parameters.yml
/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache

# Assets and user uploads
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
